.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    max-height: calc(100vh - var(--topbar-height));
}

.home-page {
}

.picture-container {
    max-width: 40%;
    align-self: flex-end;
    max-height: inherit;
}

.picture {
    object-fit: contain;
    align-self: flex-end;
    display: flex;
    max-height: inherit;
}

.introduction-container {
    color: var(--text-colour1);
    max-width: 40%;
    align-content: center;
}

.background-shape {
    background-color: #ffc0cb66;
    width: 40%;
    height: 40%;
    position: fixed;
    z-index: -1;
    transform: translate(150px, 0px);
    rotate: 27deg;
    border-radius: 25px;
}

.introduction-name {
    margin-left: 5px;
    text-shadow: 0px 1px 2px #543131;
    transition: 0.3s ease;
    color: var(--text-colour1);
    text-decoration: none;
}

.introduction-name:hover {
    cursor: pointer;
    color: pink;
}


.introduction-link {
    margin-left: 5px;
    text-shadow: 0px 1px 2px #543131;
    transition: 0.3s ease;
    color: var(--text-colour1);
    text-decoration: none;
}

.introduction-link:hover {
    cursor: pointer;
    color: pink;
}

