* {
    --background-colour1: white;
    --background-colour2: rgb(238 238 238);

    --gradient-background: linear-gradient(76deg, rgb(255 62 0), rgb(255 151 151));

    --text-colour1: black;
    --text-colour2: white;
    --text-colour3: rgb(49 49 49);

    --text-colour-inactive: rgb(148, 123, 123);
}
